<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"-->
    <link rel="stylesheet" href="/static/main.css">
    <title>{{.Title}}</title>
  </head>
  <body>
    <!-- ITEM INPUT -->
    <div class="container-fluid">
      <div class="card mb-2">
        <div class="card-header">
          ADD ITEM
        </div>
        <div class="card-body">
          <form id="inputItem">
            <div class="row">
              <div class="col">
                <input id="name" type="text" class="form-control" placeholder="Item name">
              </div>
              <div class="col">
                <button id="enter" type="button" class="btn btn-primary">SUBMIT</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
