<!-- ITEM INPUT -->
<div class="container-fluid">
  <div class="card mb-2">
    <div class="card-header">
      {{.Title}}
    </div>
    <div class="card-body">
      <form id="inputItem">
        <div class="row">
          <div class="col">
            <input id="item" type="msg" class="form-control" placeholder="message">
          </div>
          <!--div class="col"-->
            <button id="enter" type="button" class="btn btn-primary">SUBMIT</button>
          <!--/div-->
        </div>
      </form>
      <ul class="list-group list-group-flush" id="addedItems">
      </ul>
    </div>
  </div>
</div>
